body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.inlinehr {
    overflow: hidden;
    text-align: center;
}

/* .inlinehr:before, */
.inlinehr:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

/* .inlinehr:before {
    right: 0.5em;
    margin-left: -50%;
} */

.inlinehr:after {
    left: 0.5em;
    margin-right: -50%;
}
